<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCty-hhYDlzgQTtg29ZhJ8FpCqrgAqCKGw</string>
	<key>GCM_SENDER_ID</key>
	<string>7568472226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.mixologist</string>
	<key>PROJECT_ID</key>
	<string>mixologist-3a824</string>
	<key>STORAGE_BUCKET</key>
	<string>mixologist-3a824.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7568472226:ios:534dbc509ac195236f7ffb</string>
</dict>
</plist>